<div class="side-menu">
    <div class="panel">
        <div class="content">
            <div class="menu-items-box">
                <div class="menu-items">
                    <div [class.active]="isDashboardActive">
                        <a (click)="gotoDashboards()" class="od-dashboard">
                        </a>
                    </div>
                    <div><a (click)="gotoReferential('metric-library')"><i class="od-metrics" ></i> </a></div>
                    <div><a (click)="gotoReferential('view-library')"><i class="od-view"></i></a></div>
                    <div><a (click)="gotoReferential('reports')"><i class="od-planned"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div id="header"></div>

</div>